/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, aside, article, section, div, form, ul, li {
	/*outline: 1px solid #333;*/
}/*comment out when finished, just to see the elements*/
/*---------site-wide settings---------------------------------------------------*/
body {
	font-size: 100%;
	line-height: 1.4;
	background: #cbdca9;
	background-image: url(../images/texture_background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h1 {
	font-family: Cochin, serif;
	font-size: 1.5em;
	padding-left: 5px;
}
h2 {
	font-family: Cochin, serif;
	font-size: 1.4em;
	color: #D7E9B3;
	background-color: #555c47;
	padding-left: 5px;
}
h3 {
	font-family: Cochin, serif;
	font-size: 1.2em;
	background-color: #555c47;
	padding-top: 5px;
	/*padding-bottom: 5px;*/
	padding-left: 5px;
}
h4 {
	font-family: Cochin, serif;
	font-size: 1.1em;
	margin-top: 10px;
	padding-left: 5px;
	color: #D7E9B3;
}
article p, section p {
	font-family:"Mongolian Baiti", serif;/*was just p/added article and section*/
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
#image_fix p:nth-of-type(1) {
	padding-top: 5px;
}
header {
	background-color: #555C47;
}
header img {
	width: 250px;
	height: 119px;
	margin-left: 8.5%; 
	padding-bottom: 5px;
}
.phoneRight {
	font-family: Cochin, serif;
	font-size: 1.1em;
	text-align: right;
	margin-right: 2%;
	color: #D7E9B3;
}
.phoneLeft {
	font-family: Cochin, serif;
	font-size: 1.1em;
	color: #D7E9B3;
	margin-left: 2%;
}
h1  {
	font-size: 0em; /*Is it OK to set this font to zero?*/
	text-indent: -9999px;
}
a {
	text-decoration: none;
}
nav ul {
	overflow: hidden;
	/*background-color: #555C47;*/
}
nav li {
	background-color: #555c47;
	display: inline-block;
	width: 16%; /*16.66666666666668%;*/ 
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border: 1px solid #d7e9b3;
  border-bottom:none;
  border-radius:4px 4px 0 0;
  margin-right:1px;
}
footer li {
	background-color: #555c47;
	display: inline-block;
	width: 16.66666666666668%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;/*just commented out trying to fix the grid*/
}
li a {
	color: #ffffff;
	text-decoration: none;
}
li a:hover {
	color:#d04c1e;
}
li a:active {
	color: #d7e9b3;
}
nav .selected {
	background-color: #d7e9b3;
	color: #d04c1e;
}
.selected a {
	color: #d04c1e;
}
.author_link {
	color: #fff;
}
/*---------main settings--------------*/
img {
	max-width: 100%;
}
section h3 {
	background-color: #ffffff;
}
section p {
	background-color: #ffffff;
}
section {
	background-color: #ffffff;
}
/*--------- aside settings------------*/
aside {
	overflow: hidden; 
}
aside h3 {
	padding-top: 10px;
	padding-bottom: 5px;
}
aside #name_first {
	margin-left: 4.5%;
}
aside #name_last {
	margin-left: 5%;
}
aside #address {
	margin-left: 13%;
}
aside #city {
	margin-left: 24%;
}
aside #zip_code {
	margin-left: 9%;
}
aside #usrtel {
	margin-left: 18%;
}
aside #email_address {
	margin-left: 19%;
}
aside .form_field input {
	width: 55%;
}
.form_field label {
	padding-left: 5px;
}
form {
	padding-right: 0px;
	background-color: #ffffff;
}
aside .button {
	font: 1.5em "Imprint MT Shadow", serif;
	color: #ffffff;
	background-color: #d04c1e;
	border: none;
	border-radius: 7px;
	width:  57%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 40.5%;
}
input:hover {
	color: #333;
}
input:focus {
	color: #333;
}
input:active {
	color: #fff;
	text-shadow: 1px 1px 4px #FFF;
}
.lower_aside {
	/*margin-top: 50px;*/
	background-color: #555c47;
}
.lower_aside li {
	color: #d7e9b3;
	font-family: Cochin, serif;
	font-size: 1.1em;
	padding-top: 3px;
	padding-right: 1%;
	padding-bottom: 3px;
	padding-left: 1%;
}
.lower_aside ul {
	padding: 5%; /*was 5%-0 didn't work*/
}
#home_loweraside {
	margin-top: 127px;
	margin-bottom: 20px; 
}
/*---------section settings-----------*/ 
 
/*---------footer settings------------*/
footer {
	clear: both;
	background: #555C47;
}
footer p {
	clear: both;
	font-size: 0.8em;
	color: #d7e9b3;
	margin-top: 50px;
	margin-bottom: 2px;
	padding-left: 5px;
}
/* =============================================================================
   Services Styles
   ========================================================================== */
article {
	 clear: both;
}
#image_rowAwnings {
	padding-bottom: 35px;
}
#image_rowSunrooms, #image_rowPatios, #image_rowAdjustable, #image_rowAwnings {
	 background-color: #ffffff;
}
#title_rowSunrooms h3, #title_rowPatios h3, #title_rowAdjustable h3, #title_rowAwnings h3 {
	 background-color: #ffffff;
}
#services_loweraside {
	margin-top: 114px;
}
/* =============================================================================
   Spotlight Styles
   ========================================================================== */
#spotlight_loweraside {
	margin-top: 52px;
	margin-bottom: 20px;
}
/* =============================================================================
   Schedule Styles
   ========================================================================== */ 
#schedule_form .button {
	font: 1.5em "Imprint MT Shadow", serif;
	color: #ffffff;
	background-color: #d04c1e;
	border: none;
	border-radius: 7px;
	width:  21%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 13.5%;
}
#schedule_form input {
	width: 20%;
}
#schedule_form input:hover {
	color: #333;
}
#schedule_form input:focus {
	color: #333;
}
#schedule_form input:active {
	color: #fff;
	text-shadow: 1px 1px 4px #FFF;
}
#schedule_form p {
	padding-bottom: 15px;
}
section form {
	line-height: 2.0;
}
#schedule_form #name_first {
	margin-left: 1.9%;
}
#schedule_form #name_last {
	margin-left: 2.2%;
}
#schedule_form #address {
	margin-left: 4.6%;
}
#schedule_form #city {
	margin-left: 8.1%;
}
#schedule_form #zip_code {
	margin-left: 3.55%;
}
#schedule_form #usrtel {
	margin-left: 6.35%;
}
#schedule_form #email_address {
	margin-left: 6.59%;
}
textarea {
	margin-left: 13.1%;
}
#schedule_loweraside {
	position: relative;
	top: 0px;
}
/* =============================================================================
   About Us Styles
   ========================================================================== */
#aboutus_loweraside {
	margin-top: 41px;
}
.signature {
	font-family: 'Sofia', cursive;
	font-size: 1.6em;
}
/* =============================================================================
   Contact Us Styles
   ========================================================================== */
#contact_loweraside {
	margin-top: 75px;
	margin-bottom: 20px;
}
section p a {
	text-decoration: none;
	color: #d04c1e;
}
/* =============================================================================
   Error 404 Styles
   ========================================================================== */
#error {
	background-color: #ffffff;
}
#error img {
	margin-left: -16px;
	padding-top: 45px;
	padding-bottom: 45px;
	/*align-content:center;*/
}
/* =============================================================================
   Media Queries
   ========================================================================== */
/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
form {
		/*background-color:mistyrose;*/
}/*breaking point colors commented out*/
header img {
	max-width: 100%;
	position: relative;
	right: 9%;
}
/*--------------------Aside settings---------------*/
#home_loweraside {
	position: relative;
	bottom: 110px;
	margin-bottom: -90px;
}
#services_loweraside {
	margin-top: 0px;
}
#spotlight_loweraside {
	margin-top:5px;
}
#aboutus_loweraside {
	margin-top: 3px;
}
#contact_loweraside {
	margin-top: 0px;
}
.form_field input {
	 width: 30%; 
}
aside .form_field label {
	font-size: 0.9em;
}
.lower_aside {
	margin-bottom: 20px;
}
aside .form_field input {
	width: 53%;
}
aside #name_first {
	margin-left: 0px; 
}
aside #name_last {
	margin-left: 1%; 
}
aside #address {
	margin-left: 10%; 
}
aside #city {
	margin-left: 21.5%;
}
aside #zip_code {
	margin-left: 5%; 
}
aside #usrtel {
	margin-left: 15.5%; 
}
aside #email_address {
	margin-left: 15.5%; 
}
/*---------------Schedule Page Settings------------*/
#schedule_form #name_first {
	margin-left: 2.5%;
}
#schedule_form #name_last {
	margin-left: 2.8%;
}
#schedule_form #address {
	margin-left: 5.75%;
}
#schedule_form #city {
	margin-left: 10.15%;
}
#schedule_form #zip_code {
	margin-left: 4.2%;
}
#schedule_form #usrtel {
	margin-left: 7.8%;
}
#schedule_form #email_address {
	margin-left: 8.25%;
}
#schedule_form input {
	width: 35%;
}
textarea {
	margin-left: 16.3%;
}
#schedule_form .button {
	width: 36.5%;
	margin-left: 16.5%;
}
/*-----------------Error 404 settings-----------*/
#error img {
	margin-left: -10px;
	padding-top: 90px;
	padding-bottom: 90px;
}
}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
form {
		/*background-color:yellow;*/
}
}
/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
form {
		/*background-color:teal;*/
}
body {
	background-image: none;
}
section p, article p {
	padding-right: 20px;
	padding-left: 20px;
}
h2 {
	padding-left: 20px;
}
section h3, article h3 {
	padding-left: 20px;
}
/*-----------------Header Settings-----------*/
header img {
	margin-left: 20%;
	position: relative;
	top: 20px;
}
.phoneRight {
	position: relative;
	bottom: 155px;
}
header li, footer li {
	font-size: 0.9em;
}
nav li {
	width: 15.9%;
}
/*----------------------Main Content Settings-------------*/
#image_fix div {
	width: 460px; /*just added to fix the image*/
	height: auto;
}
#image_fix {
	width: 460px; /*just added to fix the image*/
	padding: 0;
}
.container .grid_3 {
	width: 460px; /*just added to fix the image*/
}
/*--------------Services Page--------------------*/
#image_rowSunrooms {
	padding-top: 20px;
}
#image_rowAwnings {
	margin-bottom: -20px;
}
#image_rowSunrooms img, #image_rowPatios img, #image_rowAdjustable img, #image_rowAwnings img {
	padding-bottom: 15px;
	padding-left: 12%;
}
#title_rowSunrooms h3, #title_rowPatios h3, #title_rowAdjustable h3, #title_rowAwnings h3 {
	padding-left: 14%;
}
/*--------------Aside settings for different pages-----------*/
#home_aside h3, #home_aside form {
	position: relative;
	top: 20px;
}
#spotlight_aside {
	padding-top: 20px;
}
#aboutus_aside {
	padding-top: 20px;
}
#services_aside, #services_loweraside {
	display: none;
}
#contact_aside {
	margin-top: 20px;
}
#home_aside form {
	margin-bottom: -60px;
}
/*---------------Aside Settings----------------*/
.lower_aside {
	margin-bottom: 20px;
	padding-right: 25px;
	padding-left: 25px;
}
aside form, aside label, aside .button {
	padding-left: 15px;
}
aside #name_first {
	margin-left: 3%;
}
aside #name_last {
	margin-left: 3.2%;
}
aside #address {
	margin-left: 6.9%;
}
aside #city {
	margin-left: 12.3%;
}
aside #zip_code {
	margin-left: 5.2%;
}
aside #usrtel {
	margin-left: 9.5%;
}
aside #email_address {
	margin-left: 10.2%;
}
aside .button {
	width: 58.5%;
	margin-left: 20.5%;
}
/*----------------------Settings Schedule Page---------*/
#schedule_form input, #schedule_form label, #schedule_form .button {
	padding-left: 20px;
}
#schedule_form #name_first {
	margin-left: 3%;
}
#schedule_form #name_last {
	margin-left: 3.1%;
}
#schedule_form #address {
	margin-left: 6.73%;
}
#schedule_form #city {
	margin-left: 12.1%;
}
#schedule_form #zip_code {
	margin-left: 4.9%;
}
#schedule_form #usrtel {
	margin-left: 9.3%;
}
#schedule_form #email_address {
	margin-left: 9.9%;
}
#schedule_form input {
	width: 50%;
}
textarea {
	margin-left: 12%;
	width: 65%;
}
#schedule_form .button {
	margin-bottom: 40px;
	margin-left: 23.2%;
	width: 55%;
}
#schedule_loweraside {
	position: relative;
	bottom: 10px;
}
/*-----------------Error 404 settings-----------*/
#error {
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 35px;
}
}
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
form {
		/*background-color:yellow;*/
}
body {
	background-image: none;
}
h2 {
	font-size: 1.3em;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
h3 {
	font-size: 1.2em;
}
section p, article p {
	padding-right: 15px;
	padding-left: 15px;
}
section h3, article h3 {
	padding-right: 15px;
	padding-left: 15px;
}
footer p {
	padding-top: 15px;
	font-size: 0.8em;
}
/*---------------------Header-------*/
header img {
	position: relative;
	right: 7%;
}
.phoneLeft {
	display: none;
}
.phoneRight {
	display: none;
}
header li, footer li {
	font-size: 1em;
	width: 32.99999%;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav li {
	width: 30%;
	border-bottom: 1px solid #d7e9b3;
	border-radius:4px 4px 4px 4px;
	margin: 3px;
}
/*--------Main Content-----------------------*/
#image_fix div {
	width: 300px; 
}
#image_fix {
	width: 300px; 
	padding: 0;
}
#image_rowAwnings {
	margin-bottom: -25px;
}
#image_rowSunrooms img, #image_rowPatios img, #image_rowAdjustable img, #image_rowAwnings img {
	position: relative;
	right: 20px;
	padding-bottom: 15px;
}
#title_rowSunrooms h3, #title_rowPatios h3, #title_rowAdjustable h3, #title_rowAwnings h3 {
	margin-left: -25px;
}
.container .grid_3 {
	width: 300px; 
}
/*---------Aside Form Settings--------------------*/
aside {
	margin-top: 20px;
}
#home_aside form {
	margin-bottom: -80px;
}
aside input, aside label, aside .button {
	margin-left: 10px;
}
aside #name_first {
	margin-left: 3%;
}
aside #name_last {
	margin-left: 3.4%;
}
aside #address {
	margin-left: 9%;
}
aside #city {
	margin-left: 17.4%;
}
aside #zip_code {
	margin-left: 6.4%;
}
aside #usrtel {
	margin-left: 12.9%;
}
aside #email_address {
	margin-left: 13.9%;
}
aside .button {
	margin-left: 32.8%;
}
.lower_aside {
/*just added trying to fix the header image-will this widen the box?*/
	margin-bottom: 20px;
}
/*----------------------------Schedule Form Settings------------*/
#schedule_form #name_first {
	margin-left: 3%;
}
#schedule_form #name_last {
	margin-left: 3.4%;
}
#schedule_form #address {
	margin-left: 9.3%;
}
#schedule_form #city {
	margin-left: 17.5%;
}
#schedule_form #zip_code {
	margin-left: 6.4%;
}
#schedule_form #usrtel {
	margin-left: 13%;
}
#schedule_form #email_address {
	margin-left: 14%;
}
textarea {
	width: 80.5%;
	padding-right: 0px;
}
#schedule_form input, #schedule_form label, #schedule_form .button {
	margin-left: 10px;
}
#schedule_form input {
	width: 60%;
}
#schedule_form .button {
	width: 65%;
	margin-left: 30%;
}
#schedule_loweraside {
	position:relative;
	bottom: 15px;
}
/*------------------Services aside----------*/
#services_aside, #services_loweraside {
	display: none;
}
/*-----------------Error 404 settings-----------*/
#error {
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 35px;
}
}
/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
