/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, aside, article, section, div, form, ul, li {
	/*outline: 1px solid #333;*/
}/*comment out when finished, just to see the elements*/
/*---------header settings---------------------------------------------------*/
body {
	/*max-width: 996px;*//*added trying to figure out the grid issues-messed everything up*/
	font-size: 100%;
	line-height: 1.4;
	background: #D7E9B3;
	background-image: url(../images/texture_background.png);
	/*background-image:url(../images/background_mist.png);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h1 {
	font-family: Cochin, serif;
	font-size: 1.5em;
	padding-left: 5px;
}
h2 {
	font-family: Cochin, serif;
	font-size: 1.4em;
	color: #D7E9B3;
	background-color: #555c47;
	padding-left: 5px;
}
h3 {
	font-family: Cochin, serif;
	font-size: 1.2em;
	background-color: #555c47;
	/*color: #d7e9b3;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
h4 {
	font-family: Cochin, serif;
	font-size: 1.1em;
	margin-top: 10px;
	padding-left: 5px;
	color: #D7E9B3;
}
p {
	font-family:"Mongolian Baiti", serif;
	padding: 5px;
}
header {
	/*overflow: hidden;*/
	background-color: #555C47;
}
header img {
	margin-left: 8%; /*was25px;*/
}
.phoneRight {
	font-family: Cochin, serif;
	font-size: 1.1em;
	text-align: right;
	color: #D7E9B3;
}
.phoneLeft {
	font-family: Cochin, serif;
	font-size: 1.1em;
	color: #D7E9B3;
	/*margin-left: 25px;*/
	/*position: relative;
	left: 14%;*/
}
h1 {
	text-align: center;
}
a {
	text-decoration: none;
}
nav ul {
	overflow: hidden;
	background-color: #555C47;
}
footer li, nav li {
	display: inline-block;
	width: 16.66666666666667%; /*was16.666666%;*/
	float: left;
	margin-left: 0%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	/*padding-left: 10%;*/
}
li a {
	color: #ffffff;
}
li a:hover {
	color: #d04c1e;
}
li a:active {
	color: #d7e9b3;
}
li.selected a {
	 color: #333;
}
.grid_6 img {
	max-width: 100%;
	min-width: 100%
}

	

/*---------main settings--------------*/
img {
}
section h3 {
	background-color: #ffffff;
}
section p {
	background-color: #ffffff;
}
section {
	background-color: #ffffff;
}
/*--------- aside settings------------*/
aside {
	overflow: hidden;
	margin-top: 0px; /*problems*/
}
aside #name_first {
	margin-left: 4.5%;
}
aside #name_last {
	margin-left: 5%;
}
aside #address {
	margin-left: 13%;
}
aside #city {
	margin-left: 24%;
}
aside #zip_code {
	margin-left: 9%;
}
aside #usrtel {
	margin-left: 18%;
}
aside #email_address {
	margin-left: 19%;
}
aside .form_field input {
	width: 55%;
}
.form_field label {
	padding-left: 5px;
}
form {
	padding-right: 0px;
	background-color: #ffffff;
}
aside .button {
	font: 1.5em "Imprint MT Shadow", serif;
	color: #ffffff;
	background-color: #d04c1e;
	border: none;
	border-radius: 7px;
	width:  57%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 40.5%;
}
input:hover {
	color: #555c47;
}
input:focus {
	color: #333;
}
input:active {
	color: #d7e9b3;
}
.lower_aside {
	margin-top: 50px;
	background-color: #555c47;
}
.lower_aside li {
	color: #d7e9b3;
	font-family: Cochin, serif;
	font-size: 1.1em;
	/*line-height: 1.2;*/
	padding-top: 3px;
	padding-right: 1%;
	padding-bottom: 3px;
	padding-left: 1%;
}
.lower_aside ul {
	padding: 5%;
}
/*---------section settings-----------*/ 
 
/*---------footer settings------------*/
footer {
	clear: both;
	/*background: #555C47;*/
}
footer p {
	clear: both;
	font-size: 0.8em;
	color: #d7e9b3;
}

/* =============================================================================
   Services Styles
   ========================================================================== */
article {
	 clear: both;
 }
 /*article .container h3 {
	 color: #ffffff;
	 padding: 10px 5px;
 }*/
 /*article .grid_3 alpha img {
	 margin-top: 10px;
	 margin-bottom: 10px;
	 background-color: #ffffff;
 }*/
 #image_row1, #image_row2, #image_row3, #image_row4 {
	 background-color: #ffffff;
 }
 #title_row1 h3, #title_row2 h3, #title_row3 h3, #title_row4 h3 {
	 background-color: #ffffff;
 }
 #title_row1 h3 {
	 /*border-top: 1px solid #333;*/
 }
   
/* =============================================================================
   Spotlight Styles
   ========================================================================== */
   
   
   
/* =============================================================================
   Schedule Styles
   ========================================================================== */ 
#schedule_form .button {
	font: 1.5em "Imprint MT Shadow", serif;
	color: #ffffff;
	background-color: #d04c1e;
	border: none;
	border-radius: 7px;
	width:  15%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: 10%;
} 
section form {
	line-height: 2.0;
}
#schedule_form #name_first {
	margin-left: 1.9%;
}
#schedule_form #name_last {
	margin-left: 2%;
}
#schedule_form #address {
	margin-left: 3.7%;
}
#schedule_form #city {
	margin-left: 6.2%;
}
#schedule_form #zip_code {
	margin-left: 2.85%;
}
#schedule_form #usrtel {
	margin-left: 4.85%;
}
#schedule_form #email_address {
	margin-left: 5.2%;
}
textarea {
	margin-left: 10%;
}
   
   
/* =============================================================================
   About Us Styles
   ========================================================================== */
   
   
   
 /* =============================================================================
   Contact Us Styles
   ========================================================================== */
section p a {
	text-decoration: none;
	color: #d04c1e;
}
   
       

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	form {
		/*background-color:mistyrose;*/
	}/*breaking point colors commented out*/
	.form_field input {
	 width: 30%; /*works, but I need to change the originals to %*/
}
.form_field label {
	font-size: 0.9em;
}
	aside #name_first {
	margin-left: 0px; /*23%;*/
}
	aside #name_last {
	margin-left: 1%; /*23%;*/
}
	aside #address {
	margin-left: 10%; /*23%;*/
}
	aside #city {
	margin-left: 21.5%; /*6%;*/
}
	aside #zip_code {
	margin-left: 5%; /*23%;*/
}
	aside #usrtel {
	margin-left: 15.5%; /*23%;*/
}
	aside #email_address {
	margin-left: 15.5%; /*23%;*/
}
#schedule_form #name_first {
	margin-left: 1.9%;
}
#schedule_form #name_last {
	margin-left: 2.2%;
}
#schedule_form #address {
	margin-left: 4.3%;
}
#schedule_form #city {
	margin-left: 7.7%;
}
#schedule_form #zip_code {
	margin-left: 3.35%;
}
#schedule_form #usrtel {
	margin-left: 5.9%;
}
#schedule_form #email_address {
	margin-left: 6.3%;
}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	form {
		/*background-color:yellow;*/
}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	form {
		/*background-color:teal;*/
}
.phoneRight {
	position: relative;
	bottom: 155px;/*to place the number on the top*/
}
aside #name_first {
	margin-left: 3%;
}
	aside #name_last {
	margin-left: 3%;
}
	aside #address {
	margin-left: 7%;
}
	aside #city {
	margin-left: 13%;
}
	aside #zip_code {
	margin-left: 5.1%;
}
	aside #usrtel {
	margin-left: 9.7%;
}
	aside #email_address {
	margin-left: 10.6%;
}
#schedule_form #name_first {
	margin-left: 3%;
}
#schedule_form #name_last {
	margin-left: 3%;
}
#schedule_form #address {
	margin-left: 6.7%;
}
#schedule_form #city {
	margin-left: 12.2%;
}
#schedule_form #zip_code {
	margin-left: 5%;
}
#schedule_form #usrtel {
	margin-left: 9%;
}
#schedule_form #email_address {
	margin-left: 10%;
}
	
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	form {
		/*background-color:yellow;*/
}
aside #name_first {
	margin-left: 3%;
}
aside #name_last {
	margin-left: 3%;
}
	aside #address {
	margin-left: 9.6%;
}
	aside #city {
	margin-left: 19%;
}
	aside #zip_code {
	margin-left: 6.3%;
}
	aside #usrtel {
	margin-left: 13.2%;
}
	aside #email_address {
	margin-left: 14%;
}
#schedule_form #name_first {
	margin-left: 3%;
}
#schedule_form #name_last {
	margin-left: 3%;
}
#schedule_form #address {
	margin-left: 8.7%;
}
#schedule_form #city {
	margin-left: 17.2%;
}
#schedule_form #zip_code {
	margin-left: 6%;
}
#schedule_form #usrtel {
	margin-left: 13%;
}
#schedule_form #email_address {
	margin-left: 14%;
}
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
